<div id="options">
  <button class="btn btn-primary" type="submit" [disabled]="!regForm.valid">
    Add Student Entry
  </button>
  <button id="listStudents" (click)="listStudents()">
    List Students
  </button>
</div>
<div>
    {{messages}}
</div>
<div *ngIf="printing">
  <table>
    <thead>
      <tr>
        <th><label="studNo">Student Number</label></th>
        <th><label="studFname">First Name</label></th>
        <th><label="studLname">Last Name</label></th>
        <th><label="studProg">Program Enrolled</label></th>
        <th><label="studYr">Year</label></th>
      </tr>
    </thead>
  <tbody>
    <tr *ngFor="let studentRecord of studentCollection">
      <td>{{ studentRecord.studNumber }}</td>
      <td>{{ studentRecord.studFirstName }}</td>
      <td>{{ studentRecord.studLastName }}</td>
      <td>{{ studentRecord.studProgram }}</td>
      <td>{{ studentRecord.studYear }}</td>
    </tr>
  </tbody>
  </table>

</div>